*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #e9edff;
}

.container{
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    max-width: 95%;
    background: white;
    margin: auto;
    margin-top: 30px;
}
.text{
    border: none;
    outline: none;
    background-color:#e9edff;
    padding:10px 15px;
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.main{
    display:flex ;
}
button{
    border: none;
    outline: none;
    background-color: #e91e63;
    padding: 10px 15px;
    color: white;
    border-radius: 0px 10px 10px 0;
}
.container_Search{
    width: 100%;
    display:flex ;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    max-height: 80vh;
    overflow-y: auto;
}
img{
    width: auto;
    height: 20vh;
}